//reset
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1;
    font-family: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    color: inherit;
    background-color: transparent;
  
    &:before,
    &:after {
      box-sizing: border-box;
    }
  }
  
  html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
  }
  
  // flashcards
  .flashcard {
  &__text {
    font-size: 20px;
    font-weight: bold;
  }

  &--question {
    width: 300px;
    height: 200px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;

    &::before {
      content: "Question:";
    }

    &.flipped {
      & .flashcard__text--question {
        display: none;
      }

      & .flashcard__text--answer {
        display: block;
      }
    }
  }

  &--answer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: rotateY(180deg);

    &::before {
      content: "Answer:";
    }
  }
}
